#wrapper {
  #container{
    .generic_form{
      width: 400px;
      margin: 50px auto;
      padding: 30px;
      border-radius: 20px;
      border: solid 4px;
      background-color: #eeeeee;
      .text {
        text-align: right;
        font-size: 11px;
        .mark{
          color: red;
        }
      }
      .form {
        padding: 20px;
      }
      .required {
        width: 300px;
        height: 30px;
        margin: 5px;
      }
      p:after {
        content: "*";
        padding-left: 2px;
        color: red;
      }
      .btn{
        width: 45px;
        text-align: center;
        margin: 20px 0 10px 280px;
      }
      a {
        margin-left: 280px;

      }
    }
  }
}

