#table-wrapper {
  width: 90%;
  margin: 0 auto;

  .links {
    text-align: right;
    padding: 6px;
  }
}

table {
  margin: 6px auto 0;
  border: solid 4px gray;
  tr {
    th, td {
      padding: 2px;
      border: solid 2px gray;
      text-align: center;
    }
    th {
      background-color: #444888;
      color: #fafafa;
    }
  }
}

.list {
  width: 100%;
  tr:nth-child(even) { background-color: #fafafa;}
  tr:nth-child(odd) { background-color: #eeeeee;}
}
